<footer>
 <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-xs-5 col-6">
                        <h4>Информация</h4>
                        <ul class="list-unstyled">
                           24-СТв(Т)
                        </ul>
                    </div>
                    <div class="col-md-3 col-xs-12 col-6 ">
                        <h4>Контакты</h4>
                        <ul class="list-unstyled">
                            <li><a href="Tel: 88314338605">8(831)433-86-05</a></li>
                            <li><a href="">roller911@yandex.ru</a></li>
                            <li><a>Редкозубов А.А</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-xs-12 col-6">
                        <h4>Ссылки</h4>
                        <ul class="list-unstyled">
                       <li><a href="https://github.com/roller911/webkyrs4">https://github.com/roller911/webkyrs4</a></li></ul>
                        <div class="footer-icons">

                        </div>
                    </div>
                </div>
            </div>
        </section>
</footer>
<script src="/js/menu.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=en_US&apikey=6b5ffb1c-4476-4dbe-935a-42b812066a91" type="text/javascript"></script>
 <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/js/maps.js"></script>
    <script src="/js/comments.js"></script>
    <script src="https://cdn.plyr.io/3.6.3/plyr.js"></script>
  <script>
    const players = Array.from(document.querySelectorAll('.js-player')).map(p => new Plyr(p));  </script>
  
            </body>
            </html