<header>
        <nav class="con-nav">
        <article>
        <div class="nameBar">Карибский кризис</div>
    </article>
        <div class="menu-bar">
            <div class="menu_button" id="menu-but">
            <div class="menu-lines"></div>
            <div class="menu-lines"></div>
            <div class="menu-lines"></div>         
            </div>
    <div id="sidebar" class="sidebar">
        <div style="overflow: hidden;">
         <button style="float: left;" id="close-but" class="btn-close btn-close-white" aria-label="Close"></button>
        </div> 
       <form style="padding-top:30px;">
        <input type="text" id="searchbar" class="form-control" placeholder="Введите текст для поиска..."></form>
        
        <ul id="itemli">      
            <li><a href="/">Главная</a></li>
            <li><a href="/hronology">Хронология событий</a></li>
            <li><a href="/tasks">Последствия</a></li>
            <li><a href="/media">В исскустве</a></li>
        
        <hr />
        <li><a href="#" id="settings">Настройки</a></li>
            <%- include('../elements/modal'); %>
        <li><a href="/tasks">Задачи по JS</a></li>
        </ul>
    </div>

</nav>
    </header>
    <div class="headimg">
<img src="../../img/preview.jpeg" alt="123" class="header-image">
</div>
