<!DOCTYPE html>
<html lang="ru">
<head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/img/favicon.png" type="image/png">
        <title>Карибский кризис</title>

        <link rel="stylesheet" type="text/css" href="/css/head.css" id="head">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/foot.css">
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/coments.css">
       <link rel="stylesheet" href="/dist/css/ckin.css">

        
        
       
        


        <meta name="description" content="Карибский (Кубинский) кризис 1962 года, балестические ракеты на Кубе, американские ракты в измире ВОТ КАК БЫЛО НА САМОМ ДЕЛЕ.">

</head>