.comments{
    display: flex;
    flex-direction: column;
    height: 55vh;
    overflow: scroll;
    color: black;
    background-color: #f4f4f4;
    margin: 5px;
    padding: 20px;
    border-radius: 4px;
    width: 100%;
}
.comments-main {
  	width: 100%;
  	overflow: hidden;
  	padding: 20px;

}
.comments-content{
  color: white;
	background-color: #8B0000;
	padding: 20px;
	margin: auto;
  	border-radius: 5px;
  	box-shadow: 0 15px 20px rgba(255, 0,0 ,0.255);
  	max-width: 1200px;
}
.comment{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 300px;
    margin-top:10px;
    border-color: black;
    background-color: green;
}

.comment p {
    flex: 1;
    overflow-wrap: break-word; /* Разбивает длинные слова на несколько строк */
    word-break: break-all; /* Разрывает слова в любом месте */
    white-space: pre-wrap; /* Сохраняет пробелы и переносы строк, но обертывает текст */
}

.image-user{
    height: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.image-user img{
    width: 100%;
    height: auto;
    max-height: 100px;
}
.image-user h4{
background-color: red;
align-items: center;
flex: 1;
    overflow-wrap: break-word;
    white-space: pre-wrap; 
}
.button-comment{
   margin:10px;
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 2px solid black;
  color:#60040c;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: #8B0000;
  }
  &:active {
    letter-spacing: 2px ;
  }
  &:after {
    content:"Отправить";
  }
}
.onclic {
  width: 40px;
  border-color:black;
  border-width:3px;
  font-size:0;
  border-left-color:#f4f4f4;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content:"";
  }
  &:hover {
    color:black;
    background: white;
  }
}
.validate {
  font-size:13px;
  color: #8B0000;
  background: #f4f4f4;
  &:after {
    content:"Выполнено";
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
}



@media (max-width: 768px) {
  .comments-content {
    max-width: 768px;
    padding: 15px;
    margin: auto;
  }
}
  @media (max-width: 768px) {
    .comments-content {
      max-width: 768px;
      padding: 15px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
