<div class="comments-main">
	<div class="comments-content">
		<h2 class="">Комментарии:</h2>
<div class="comments">

</div>
		<div class="comment-enter">
		<div class="mb-3">
  		<label for="controlinput1" class="form-label">Введите своё имя</label>
  		<input type="email" class="form-control" id="controlinput1" placeholder="Имя">
	</div>
		<div class="mb-3">
  		<label for="controltextarea1" class="form-label">Пример текстового поля</label>
  		<textarea class="form-control" id="controltextarea1" rows="3"></textarea>
  		<button class="submit-comment">Отправить</button>
		</div>
		</div>	
</div>
</div>
