<%- include('../elements/head'); %>
<body class="body">
	<%- include('../elements/header'); %>

<div class="h1name">
		<h2>Хронология событий</h2>
	</div>

	<div class="container-main">
		<h4 class="text-center">Кубинская революция</h4>
		<p>В ходе холодной войны противостояние между двумя сверхдержавами, СССР и США, выражалось не только в прямой военной угрозе и гонке вооружений, но и в стремлении к расширению их зон влияния. Советский Союз стремился организовывать и поддерживать социалистические революции, в просоветски настроенных странах оказывалась поддержка народно-освободительным движениям различного толка, часто — оружием и посылкой военных специалистов, инструкторов и ограниченных воинских контингентов. В случае победы революции страна становилась членом социалистического лагеря, там строились военные базы и в неё вкладывались значительные ресурсы. Помощь Советского Союза часто была безвозмездной, что вызывало дополнительные симпатии к нему со стороны беднейших стран Африки и Латинской Америки.
Н. С. Хрущёв и Джон КеннедиСША, в свою очередь, придерживаясь аналогичной политики, также стимулировали «революции для установления демократии» и оказывали поддержку проамериканским режимам. Обычно перевес сил был на стороне США — их поддерживала Западная Европа, Турция, некоторые азиатские и африканские страны, например, ЮАР.
Первоначально, после победы революции на Кубе в 1959 году, у её лидера Фиделя Кастро не было тесных отношений с Советским Союзом. Во время своей борьбы с режимом Фульхенсио Батисты в 1950-х Кастро несколько раз обращался к Москве за военной помощью, но получал отказ. Москва скептически относилась к лидеру кубинских революционеров и к самим перспективам революции на Кубе, считая, что там слишком велико влияние США. Первый зарубежный визит после победы революции Фидель совершил в США, однако президент Эйзенхауэр отказался встречаться с ним, сославшись на занятость. После этой демонстрации высокомерного отношения к Кубе Кастро проводил меры, направленные против засилья американцев. Были национализированы телефонная и электрическая компании, нефтеперегонные заводы, 36 крупнейших сахарных заводов, принадлежавших гражданам США, однако прежним владельцам были предложены соответствующие пакеты ценных бумаг. Все филиалы североамериканских банков, принадлежавших гражданам США, были также национализированы. В ответ на это США прекратили поставлять на Кубу нефть и покупать её сахар. Такие шаги поставили Кубу в очень тяжёлое положение. К тому времени кубинским правительством уже были установлены дипломатические отношения с СССР и оно обратилось к Москве за помощью. Отвечая на запрос, СССР направил танкеры с нефтью и организовал закупки кубинского сахара и сахара-сырца. На Кубу в длительные командировки выезжали специалисты различных отраслей народного хозяйства СССР для создания аналогичных отраслей, а также делопроизводства на Острове Свободы. Советские специалисты строили различные объекты, например, по спецпроекту делали паровые электростанции с котлами на топливе из отходов сахарного тростника.</p> 
	</div>

	<div class="container-main">
<h4 class="text-center">Первые размещённые ракеты</h4>
<p>В 1958 Советский Союз начал размещение баллистических ракет средней дальности (БРСД) типа «Р-5» в ГДР, которая была направлена против целей в Западной Европе, в частности, против ФРГ. В 1959 году они были перемещены в Калининград. Следующая стадия гонки вооружений следовала в том же году. США добились этого установкой БРСД типа «Тор» в Англии, а также ракет PGM-19 «Юпитер» в Апулии (Южная Италия) и близ Измира в Турции. К тому же, первый удар, который должен был с применением ядерного оружия уничтожить и сделать невозможным дальнейший ответ противника, не был исключён. В начале 1960-х стала впервые возможной атака обеих стран с собственной территории с помощью установленных на ней межконтинентальных баллистических ракет[1].  
</p>
	</div>
<%- include('../elements/footer'); %>
</body>
</html>