<!DOCTYPE html>
<html lang="ru">
<%- include('../elements/head'); %>
<body class="body">
    <%- include('../elements/header'); %>
<main>
  <figure class="text-center">
  <blockquote class="blockquote">
<div class="h1name">
        <h2>Что такое Карибский кризис?</h2>
    </div>
</blockquote>
</figure>

<div class="container-main">
    <div class=""><p>Кари́бский кризис (англ. Cuban missile crisis, «Кубинский ракетный кризис»; исп. Crisis de Octubre, «Октябрьский кризис») — чрезвычайно напряжённое политическое, дипломатическое и военное противостояние между Советским Союзом и Соединёнными Штатами в октябре 1962 года, которое было вызвано размещением в 1961 году Соединёнными Штатами в Турции (стране-участнице НАТО) ракет средней дальности «Юпитер», которые беспрепятственно (в силу малого подлётного времени) могли достигнуть городов в западной части Советского Союза, включая Москву и главные промышленные центры СССР, что лишало СССР возможности нанести равноценный ответный удар. В качестве ответной меры на эти действия Советский Союз разместил кадровые военные части и подразделения (на вооружении у которых находилось как обычное, так и атомное оружие, включая баллистические и тактические ракеты наземного базирования) на острове Куба, в непосредственной близости от побережья США. Кризис мог привести к глобальной ядерной войне.</p> 
    </div>
</div>
<section class="container-main">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/img2.jpeg" class="d-block w-100" alt="Image 1">
            </div>
            <div class="carousel-item">
                <img src="/img/img1.jpg" class="d-block w-100" alt="Image 2">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section class="container-main">
    <h3 class="text-center">Причины и предпосылки противостояния США и СССР</h3>
    <p class="">Карибский кризис стал результатом длительного противостояния Советского Союза и Америки, продолжавшегося с 1946 года. Поэтому принято выделять предпосылки и причины событий, которые стали точкой кипения в отношениях двух сверхдержав.
    <p><a style="color:red">1. </a>Политическое противостояние социалистической системы, которую поддерживал СССР, и капиталистической при поддержке США. На сторону Советского Союза в вопросах идеологии стали страны Латинской Америки и часть стран Африки. К Америке примкнули страны Европы и Турция. От каждой сверхдержавы союзники получали оружие и финансовую помощь. Поэтому противоборство двух систем распространилось на весь мир.
    <p><a style="color:red">2. </a>Гонка вооружений между Советским Союзом и Соединенными Штатами. Пополнение запаса ядерного оружия Америкой. К 1960-м годам США превосходили СССР в количестве ракетных установок более чем в 10 раз.
    <p><a style="color:red">3. </a>Установка военной техники США на территории Турции в 1961 году;
    размещение ракет Советского Союза на территории Кубы годом позже.</p>

<p>Перевозка ядерных советских установок на Кубу стала ответным шагом на угрозу США с территории Турции. Американское оружие было направлено в сторону Советского Союза и могло менее чем за 20 минут уничтожить Москву.</p>
</section>

<section class="container-main">
<div class="container-column">
<div class="container-image">
    <img src="/img/img5.jpeg" alt="Image 1">
    <p>adsasdas</p>
</div>
 <div class="container-table">    
<table class="table table-striped">
  <thead>Карибский Кризиc</thead>
  <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Дата:
        </td>
        <td colspan="2">16—28 октября 1962
        </td>
    </tr>
     <tr>
        <th scope="row">2</th>
        <td>Место:
        </td>
        <td colspan="2">Куба
        </td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Причина:
        </td>
        <td colspan="2">размещение вооружения США в Турции в 1961 году
        </td>
    </tr>
    <tr>
        <th scope="row">4</th>
        <td>Мест:
        </td>
        <td colspan="2">Куба
        </td>
    </tr>
    <tr>
        <th scope="row">5</th>
        <td colspan="3">Противники:
        </td> 
        
    </tr>
     <tr>
        <th scope="row"></th>
        <td>
        </td> 
        <td><p style="color:#0d6efd;">США</p>
        </td>
        <td><p style="color:#dc3545;">СССР  </p>
        </td>
    </tr>
     <tr>
        <th scope="row"></th>
        <td>
        </td> 
        <td><p style="color:#0d6efd;">Турция</p>
        </td>
        <td><p style="color:#dc3545;">Куба  </p> 
        </td>
    </tr>
     <tr>
        <th scope="row"></th>
        <td>
        </td> 
        <td colspan="2"><p style="color:#0d6efd;">Италия</p>
        </td>
    </tr>
    <tr>
        <th scope="row">6</th>
        <td colspan="3">Командующие:
        </td> 
    </tr>
    <tr>
        <th scope="row"></th>
        <td>
        </td> 
        <td><p style="color:#0d6efd;">Джон Кеннеди</p>
        </td>
        <td><p style="color:#dc3545;">Никита Хрущёв</p>
        </td>
    </tr>
     <tr>
        <th scope="row"></th>
        <td>
        </td> 
        <td><p style="color:#0d6efd;">Роберт Макнамара</p>
        </td>
        <td><p style="color:#dc3545;">Фидель Кастро</p>
        </td>
    </tr>
    <tr>
        <th scope="row"></th>
        <td>
        </td> 
        <td><p style="color:#0d6efd;">Максвелл Тейлор</p>
        </td>
        <td><p style="color:#dc3545;">Анастас Микоян</p>
        </td>
    </tr>
    <tr>
        <th scope="row"></th>
        <td>
        </td> 
        <td><p style="color:#0d6efd;">Кёртис Лемей</p>
        </td>
        <td><p style="color:#dc3545;">Эрнесто Че Гевара</p>
        </td>
    </tr>
  </tbody>
</table>
</div>
</div>
</section>

    
    <section class="container-main">
        <div class="map-container">
                <div id="map" class="map-yandex">
                </div>
                <div class = "map-info">
                    <h4 class="h4name" style="text-align: center;">Размещение ракет на карте и их расстояние до столиц двух держав.</h4>
                    <div style="padding-top: 25px;">
                        <p style="color:blue;"> Синиий цветом обазначено расстояние от США (Вашингтон) до Кубы и равна: <p id="distance1"></p></p>
                    </div>
                     <div><p>В самом узком месте Флоридского пролива расстояние между США и Кубой составляет примерно 180 км.</p>
                        </div>
                        <div style="padding-top: 20px;">
                        <p style="color: red;"> Красным цветом обозначено расстояние от Москвы до Турции и равна:<p id="distance2"></p></p>
                        </div>
                        <div><p>Расстояние от г. Трабзон (город на Севере Турции) до г. Сочи составляет 281 км по прямой.</p>
                        </div>
                </div>

        </div>
</section>
        <%- include('../elements/coments'); %>
        <%- include('../elements/footer'); %>
        
