<!DOCTYPE html>
<html lang="ru">
<head>
			

		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<title>Карибский кризис</title>

		<link rel="stylesheet" type="text/css" href="../css/head.css" id="head">
		<link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" type="text/css" href="../css/foot.css">
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css">
		<script src="../bootstrap/js/bootstrap.js"></script>
		


		<meta name="description" content="Карибский (Кубинский) кризис 1962 года, балестические ракеты на Кубе, американские ракты в измире ВОТ КАК БЫЛО НА САМОМ ДЕЛЕ.">

</head>



<body class="body">
	<header>
		<nav class="con-nav">
        <article>
		<div class="nameBar">Карибский кризис</div>
    </article>
		<div class="menu-bar">
			<div class="menu_button" id="menu-but">
            <div class="menu-lines"></div>
            <div class="menu-lines"></div>
            <div class="menu-lines"></div>         
            </div>
    <div id="sidebar" class="sidebar">
        <button id="close-but" class="btn-close btn-close-white" aria-label="Close"></button>
       
       <form style="padding-top:30px;">
        <input type="text" id="searchbar" class="form-control" placeholder="Введите текст для поиска..."></form>
        
        <ul id="itemli">      
            <li><a href="index.html">Главная</a></li>
            <li><a href="index2.html">Хронология событий</a></li>
            <li><a href="#">Последствия</a></li>
        </ul>
    </div>
		</div>	
</nav>
	</header>






	<div class="headimg">
<img src="../../img/preview.jpeg" alt="123" class="header-image">
</div>

<div class="h1name">
		<h2>Хронология событий</h2>
	</div>

	<div class="container-main">
		<h4 class="text-center">Кубинская революция</h4>
		<p>В ходе холодной войны противостояние между двумя сверхдержавами, СССР и США, выражалось не только в прямой военной угрозе и гонке вооружений, но и в стремлении к расширению их зон влияния. Советский Союз стремился организовывать и поддерживать социалистические революции, в просоветски настроенных странах оказывалась поддержка народно-освободительным движениям различного толка, часто — оружием и посылкой военных специалистов, инструкторов и ограниченных воинских контингентов. В случае победы революции страна становилась членом социалистического лагеря, там строились военные базы и в неё вкладывались значительные ресурсы. Помощь Советского Союза часто была безвозмездной, что вызывало дополнительные симпатии к нему со стороны беднейших стран Африки и Латинской Америки.
Н. С. Хрущёв и Джон КеннедиСША, в свою очередь, придерживаясь аналогичной политики, также стимулировали «революции для установления демократии» и оказывали поддержку проамериканским режимам. Обычно перевес сил был на стороне США — их поддерживала Западная Европа, Турция, некоторые азиатские и африканские страны, например, ЮАР.
Первоначально, после победы революции на Кубе в 1959 году, у её лидера Фиделя Кастро не было тесных отношений с Советским Союзом. Во время своей борьбы с режимом Фульхенсио Батисты в 1950-х Кастро несколько раз обращался к Москве за военной помощью, но получал отказ. Москва скептически относилась к лидеру кубинских революционеров и к самим перспективам революции на Кубе, считая, что там слишком велико влияние США. Первый зарубежный визит после победы революции Фидель совершил в США, однако президент Эйзенхауэр отказался встречаться с ним, сославшись на занятость. После этой демонстрации высокомерного отношения к Кубе Кастро проводил меры, направленные против засилья американцев. Были национализированы телефонная и электрическая компании, нефтеперегонные заводы, 36 крупнейших сахарных заводов, принадлежавших гражданам США, однако прежним владельцам были предложены соответствующие пакеты ценных бумаг. Все филиалы североамериканских банков, принадлежавших гражданам США, были также национализированы. В ответ на это США прекратили поставлять на Кубу нефть и покупать её сахар. Такие шаги поставили Кубу в очень тяжёлое положение. К тому времени кубинским правительством уже были установлены дипломатические отношения с СССР и оно обратилось к Москве за помощью. Отвечая на запрос, СССР направил танкеры с нефтью и организовал закупки кубинского сахара и сахара-сырца. На Кубу в длительные командировки выезжали специалисты различных отраслей народного хозяйства СССР для создания аналогичных отраслей, а также делопроизводства на Острове Свободы. Советские специалисты строили различные объекты, например, по спецпроекту делали паровые электростанции с котлами на топливе из отходов сахарного тростника.</p> 
	</div>

	<div class="container-main">
<h4 class="text-center">Первые размещённые ракеты</h4>
<p>В 1958 Советский Союз начал размещение баллистических ракет средней дальности (БРСД) типа «Р-5» в ГДР, которая была направлена против целей в Западной Европе, в частности, против ФРГ. В 1959 году они были перемещены в Калининград. Следующая стадия гонки вооружений следовала в том же году. США добились этого установкой БРСД типа «Тор» в Англии, а также ракет PGM-19 «Юпитер» в Апулии (Южная Италия) и близ Измира в Турции. К тому же, первый удар, который должен был с применением ядерного оружия уничтожить и сделать невозможным дальнейший ответ противника, не был исключён. В начале 1960-х стала впервые возможной атака обеих стран с собственной территории с помощью установленных на ней межконтинентальных баллистических ракет[1].  
</p>
	</div>	










<footer>
 <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-xs-5 col-6">
                        <h4>Информация</h4>
                        <ul class="list-unstyled">
                           24-СТв(Т)
                        </ul>
                    </div>
                    <div class="col-md-3 col-xs-12 col-6 ">
                        <h4>Контакты</h4>
                        <ul class="list-unstyled">
                            <li><a href="Tel: 88314338605">8(831)433-86-05</a></li>
                            <li><a href="">roller911@yandex.ru</a></li>
                            <li><a>Редкозубов А.А</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-xs-12 col-6">
                        <h4>Ссылки</h4>
                        <ul class="list-unstyled">
                       <li><a href="https://github.com/roller911/webkyrs4">https://github.com/roller911/webkyrs4</a></li></ul>
                        <div class="footer-icons">

                        </div>
                    </div>
                </div>
            </div>
        </section>
</footer>

<script src="../js/scripts/menu.js"></script>
          
</body>