<%- include('../elements/head'); %>

<body class="body">
<%- include('../elements/header'); %>
<div class="h1name">
		<h2>Карибский кризиc в исскустве</h2>
	</div>
<div class="container-main">
<h4 class="text-center">Кино</h4>
<div class="list-group">
    <a class="list-group-item">1963 — советский фильм «Каин XVIII» является аллюзией на Карибский кризис;</a>
    <a class="list-group-item">1964 — фильм «Доктор Стрейнджлав, или Как я перестал бояться и полюбил бомбу»;</a>
    <a class="list-group-item">1964 — фильм «Система безопасности» (англ. Fail-Safe);</a>
    <a class="list-group-item">1969 — фильм «Топаз» Альфреда Хичкока;</a>
    <a class="list-group-item">1991 — сериал «Квантовый скачок» (англ. Quantum Leap), серия «Атомная семейка» (англ. Nuclear Family);</a>
    <a class="list-group-item">1999 — фильм «Взрыв из прошлого» (англ. Blast from the Past);</a>
    <a class="list-group-item">2000 — фильм «Тринадцать дней» (англ. Thirteen Days);</a>
    <a class="list-group-item">2003 — «Туман войны»;</a>
    <a class="list-group-item">2009 — фильм «Хранители» (англ. Watchmen);</a>
    <a class="list-group-item">2009 — пародия на трилогию «Пираты Карибского моря» «Карибский кризис»;</a>
    <a class="list-group-item">2011 — мини-сериал «Династия Кеннеди» (англ. The Kennedys);</a>
    <a class="list-group-item">2011 — фильм «Люди Икс: Первый Класс» (англ. X-Men: First Class);</a>
    <a class="list-group-item">2017 — сериал «Оптимисты»;</a>
    <a class="list-group-item">2020 — фильм «Игры шпионов» (англ. The Courier).</a>
</div>
</div>
<div class="container-main">
<h4 class="text-center">Музыка</h4>
<div class="list-group">
    <a class="list-group-item">1962 — «Молитвы» для баритона и камерного оркестра композитора Луиджи Даллапикколы. Партитура демонстративно датирована днём обращения Кеннеди к народу.</a>
    <a class="list-group-item">1964 — песня Фила Оукса «Talking Cuban Crisis».</a>
    <a class="list-group-item">1985 — песня Стинга «Russians».</a>
    <a class="list-group-item">2009 — вышел сингл «Caribbean Crisis» от проекта Ex-Plosion. Посвящённая событиям холодной войны композиция также вошла в студийный альбом проекта, попав на первое место и в сводную двадцатку лучших Progressive House треков за 2012 год по версии британского онлайн-магазина Juno.</a>
    <a class="list-group-item">2017 — песня «Завтра война» от проекта Melancholic, выпущенная в альбоме «Millennium».</a>
</div>
</div>
<div class="container-main">
<h4 class="text-center">Видеоигры</h4>
<div class="list-group">
    <a class="list-group-item">В 2005 году вышла игра «Карибский кризис»;</a>
    <a class="list-group-item">В 2006 году вышла игра «DEFCON»;</a>
    <a class="list-group-item">В 2015 году вышла игра «Armored Warfare: Проект Армата».</a>
</div>
</div>
<%- include('../elements/footer'); %>
