<%- include('../elements/head'); %>
<body class="body">
	<%- include('../elements/header'); %>



<div class="h1name">
        <h2>Последствия</h2>
    </div>
<section class="container-main">
    <div class=""><p>Мирное разрешение кризиса удовлетворило не всех. Смещение Хрущёва двумя годами позже можно частично связать с раздражением в Политбюро ЦК КПСС относительно уступок Соединённым Штатам, сделанных Хрущёвым, приведшим к кризису.</p>

<p>Коммунистическое руководство Кубы расценило компромисс как «предательство» со стороны Советского Союза, поскольку решение, положившее конец кризису, было принято исключительно Хрущёвым и Кеннеди.</p>

<p>Некоторые военачальники США также были недовольны результатом. Так, начальник штаба воздушных сил США генерал ЛеМей назвал отказ от атаки Кубы «наихудшим поражением в нашей истории».</p>

<p>По окончании кризиса аналитики советских и американских спецслужб предложили установить между Вашингтоном и Москвой прямую телефонную линию (так называемый «красный телефон»), чтобы в случае кризисных ситуаций у лидеров сверхдержав была возможность немедленно связаться друг с другом, а не пользоваться телеграфом.</p>

<p>По рассекреченным в 2017 году данным Министерства обороны Российской Федерации, за период с 1 августа 1962 года по 16 августа 1964 года на Кубе по различным причинам погибли 64 советских гражданина</p> 
    </div>
</section>

<section class="container-main">
<h4 class="text-center">Историческое значение</h4>
<p>Кризис стал переломным моментом в ядерной гонке и «холодной войне». В западных странах началось антивоенное движение, пик которого пришёлся на 1960-е — 1970-е годы. В СССР также стали раздаваться голоса, призывавшие к ограничению гонки ядерных вооружений и усилению роли общества в принятии политических решений (в частности, с таким заявлением выступил один из разработчиков советского ядерного оружия академик А. Д. Сахаров).  
</p>
<p>Невозможно однозначно утверждать, стало ли удаление ракет с Кубы победой или поражением Советского Союза. С одной стороны, план, задуманный Хрущёвым в мае 1962 года, не был доведён до конца и советские ракеты уже не могли обеспечить безопасности Кубы. С другой, Хрущёв добился от руководства США гарантий ненападения на Кубу, которые, несмотря на опасения Кастро, были соблюдены и соблюдаются по сей день. Через несколько месяцев американские ракеты в Турции, по словам Хрущёва, спровоцировавшие его на размещение оружия на Кубе, были также демонтированы. В конце концов, благодаря техническому прогрессу в ракетостроении, отпала необходимость размещения ядерного оружия на Кубе и в Западном полушарии вообще, поскольку через несколько лет Советский Союз уже имел достаточно межконтинентальных ракет, способных поразить любой город и военный объект в США непосредственно с территории СССР.</p>
<p>Сам Хрущёв в своих мемуарах так оценил итоги кризиса: «Сейчас прошло уже много лет, и это является уже областью истории. И я горд за то, что мы проявили мужество и дальновидность. И я считаю, что мы выиграли».</p>
</section>


<section class="container-main">
<h4 class="text-center">Эпилог</h4>
<p>В 1992 году было подтверждено, что к моменту, когда разразился кризис, советские части на Кубе получили ядерные боеголовки для тактических и стратегических ракет, а также ядерные авиабомбы для бомбардировщиков среднего радиуса действия Ил-28, общим количеством 162 единицы. Генерал Грибков, участвовавший в работе советского штаба операции, заявил, что командующий советскими войсками на Кубе генерал Плиев имел полномочия применять их в случае полномасштабного вторжения США на Кубу.</p>

<p>Небольшая продолжительность Карибского кризиса и обширная документация, касающаяся принятия решений обеими сторонами, делают его отличным примером для анализа процессов выработки государственных решений. В книге «Суть решения», авторы Грэхам Аллисон и Филип Зеликов используют кризис для иллюстрации разных подходов к анализу действий государства. Интенсивность и размах кризиса также даёт отличный материал для драмы, что иллюстрируется фильмом «Тринадцать дней» американского режиссёра Р. Доналдсона. Карибский кризис также был одной из основных тем выпущенного в 2003 году документального фильма The Fog of War: Eleven Lessons from the Life of Robert S. McNamara.</p>

<p>В октябре 2002 года Роберт Макнамара и Артур Шлезингер вместе с другими почётными гостями участвовали во встрече с Кастро на Кубе, чтобы продолжить изучение кризиса и выпуск рассекреченных документов. На этой конференции стало ясно, что мир был гораздо ближе к ядерной конфронтации, чем считалось ранее. Так, не исключено, что только здравый смысл старшего на борту советской подводной лодки Б-59[англ.] (проекта 641) Василия Архипова предотвратил полномасштабный конфликт</p>
</section>
<%- include('../elements/coments'); %>
<%- include('../elements/footer'); %>	