<!DOCTYPE html>
<html lang="ru">
<head>
			

		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<title>Карибский кризис</title>

		<link rel="stylesheet" type="text/css" href="../css/headfoot.css" id="headfoot">
		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<script src="../scripts/navbar.js"></script>


		<meta name="description" content="Карибский (Кубинский) кризис 1962 года, балестические ракеты на Кубе, американские ракты в измире ВОТ КАК БЫЛО НА САМОМ ДЕЛЕ.">

</head>
<body>
	<header>
		<div class="navbar" id="header">
			<div class="logo">
				<a href="">Карибский кризис</a>
</div>
<nav>
	<div>
	<form class="search" action=>
		<input name="" placeholder="Поиск..." type="search">
	</form>
	<ul>
		<li>
		<a href="">Главная</a>
		</li>
<li>
		<a href="">Хронология событий</a>
		<ul>
			<ul class="mega-dropdown">
			 <li class="row">
            	<ul class="mega-col">
            		<li><a href="#">1</a></li>
            	</ul>
			</li>
		</ul>
	</ul>
</li>

	<li><a href="">Размещение ракет</a></li>
	<li><a href="">Размещение ракет</a></li>
	<li><a href="">Размещение ракет</a></li>
	<li><a href="">Размещение ракет</a></li>
		</div>
	</ul>
</nav>
	</header>
