<!DOCTYPE html>
<html lang="ru">
<head>
			

		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<title>Карибский кризис</title>

		<link rel="stylesheet" type="text/css" href="../css/headfoot.css" id="headfoot">
		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css">
		<script src="../bootstrap/js/bootstrap.js"></script>
		


		<meta name="description" content="Карибский (Кубинский) кризис 1962 года, балестические ракеты на Кубе, американские ракты в измире ВОТ КАК БЫЛО НА САМОМ ДЕЛЕ.">

</head>
<body>
	<header>
		<div class="con-nav">
		<div class="nameBar">Карибский кризис</div>

		<div class="menu-bar">
			<button id="menu-but">Меню</button>
    <div id="sidebar" class="sidebar">
        <button id="close-but">Закрыть</button>
        <ul>
            <li><a href="#">Пункт 1</a></li>
            <li><a href="#">Пункт 2</a></li>
            <li><a href="#">Пункт 3</a></li>
        </ul>
    </div>
			

	</header>


		<script src="../scripts/menu.js"></script>
</body>